* {
  font-family: 'Source Sans Pro', sans-serif;
  color: white !important;
}
html {
  scroll-behavior: smooth;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 60px !important;
  padding-top: 12px;
}


body {
  background-image: url('./assets/img/country-quilt-dark.png') !important;
  background-attachment: fixed;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.width {
  width: 80%;
}

.sub-texto {
  color: white !important;
  padding-top: 20px;
  padding-bottom: 4px;
}

.descrip {
  font-size: large;
  color: white !important;
}

.descrip small {
  font-size: large;
  color: white !important;
}

.anchorTag :hover{
  color: #0b7dda !important;
}

.sub-title2 {
  color: white !important;
  padding-top: 26px;
  font-size: 40px !important;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  color: black !important;
}

input {
  background: #f1f1f1;
  color: black !important;
  border: none;
  text-align: center;
  outline:none
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form button {
  border: none;
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border-radius: 1px;
  border-left: #f1f1f1;
  /* Prevent double borders */
  cursor: pointer;
  outline:none
}

form button:hover {
  background: #0b7dda;
}

/* Clear floats */
form::after {
  content: "";
  clear: both;
  display: table;
}
.pointer {
  cursor: pointer;
}

.btn{
  background-color: #2196F3 !important;
  border: none !important;
  outline-color: black !important;
  outline-style: hidden !important;
}

.btn:hover{
  background: #0b7dda !important;
}


.dropdown-item {
  color: #000 !important;
  cursor: pointer;
}

.parrafo {
  font-size: larger !important;
  letter-spacing: 2px !important;
  font-size: 24px !important;
  color: #ffff !important;
}

.spiner{
  margin-top: 200px;
}

.card img {
  width: auto;
  height: 280px;
}

.card-footer {
  display: block;
  text-align: center;
}

.letraycolor {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.884);
}

.text-titulo {
  font-size: 38px !important;
}

.texto {
  margin-top: 15% !important;
  font-size: 21px;
}

.light {
  background-image: url('./assets/img/y-so-serious-white.png') !important;
  background-attachment: fixed;
  color: #000 !important;
}

.light h1,
h2,
h5,
p,
small {
  color: #000 !important;
}

.light h5 {
  color: #000 !important;
}

.light h2 {
  color: #000 !important;
}

.light small {
  color: #000 !important;
}

.card p {
  color: #ffff !important;
}

.light .parrafo {
  color: #000 !important;
}

@media only screen and (max-width: 840px) {
  .colDerecha {
    display: none;
    width: 0%;
    height: 0%;
    size: 0px;
  }
}

textarea {
  color: #000 !important;
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  color: #000 !important;
  margin-top: 60px;

  background: url('./assets/img/country-quilt-dark.png');

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1000px;
  background: #141414 !important;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.5);
}


@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

	ul.social {
		cursor: default;
		margin: 0;
		list-style: none;
		padding-left: 0;
	}

		ul.social li {
			position: relative;
			display: inline-block;
			margin: 0.25em;
			top: 0;
			padding-left: 0;
		}

			ul.social li a {
				-moz-transition: top .2s ease-in-out;
				-webkit-transition: top .2s ease-in-out;
				-ms-transition: top .2s ease-in-out;
				transition: top .2s ease-in-out;
				display: block;
				width: 48px;
				height: 48px;
				border-radius: 6px;
				top: 0;
				position: relative;
			}

				ul.social li a:before {
					background-image: url("./assets/img/bg.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("./assets/img/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("./assets/img/bg.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("./assets/img/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					-moz-transition: background-color .2s ease-in-out;
					-webkit-transition: background-color .2s ease-in-out;
					-ms-transition: background-color .2s ease-in-out;
					transition: background-color .2s ease-in-out;
					background-color: #444;
					border-radius: 6px;
					box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
					color: #f1f1f1 !important;
					display: block;
					font-size: 26px;
					height: 48px;
					line-height: 48px;
					text-align: center;
					outline: 0;
					overflow: hidden;
					text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
					width: 48px;
				}

				ul.social li a.fa-twitter {
					background-color: #2DAAE4;
				}

				ul.social li a.fa-facebook-f {
					background-color: #3C5A98;
				}

				ul.social li a.fa-dribbble {
					background-color: #C4376B;
				}

				ul.social li a.bi-linkedin {
					background-color: #006599 !important;
				}

				ul.social li a.fa-tumblr {
					background-color: #51718A;
				}

				ul.social li a.fa-google-plus {
					background-color: #DA2713;
				}

				ul.social li a.bi-github {
					background-color: #6b0262;
				}

				ul.social li a.fa-rss {
					background-color: #F2600B;
				}

				ul.social li a.bi-instagram {
					background-color: #c98208;
				}

				ul.social li a.fa-foursquare {
					background-color: #39A3D4;
				}

				ul.social li a.fa-skype {
					background-color: #10BEF1;
				}

				ul.social li a.fa-soundcloud {
					background-color: #FE5419;
				}

				ul.social li a.bi-youtube {
					background-color: #BF2E25;
				}

				ul.social li a.fa-blogger {
					background-color: #FF6501;
				}

				ul.social li a.fa-flickr {
					background-color: #0062DB;
				}

				ul.social li a.fa-vimeo {
					background-color: #4C8AB0;
				}

				ul.social li a:hover {
					top: -5px;
				}

					ul.social li a:hover:before {
						background-color: transparent;
					}

/* Actions */

	ul.actions {
		list-style: none;
		padding-left: 0;
	}

		ul.actions li {
			display: inline-block;
			margin: 0 0 0 1em;
			padding-left: 0;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

      .icon {
        text-decoration: none;
        text-decoration: none;
      }
    
        .icon:before {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          text-transform: none !important;
          font-family: 'Font Awesome 5 Free';
          font-weight: 400;
        }
    
        .icon:before {
          font-size: 1.25em;
        }
    
        .icon > .label {
          display: none;
        }
    
        .icon.solid:before {
          font-weight: 900;
        }
    
        .icon.brands:before {
          font-family: 'Font Awesome 5 Brands';
        }
    
        .icon.featured {
          color: #EA8A95;
          display: block;
          margin: 0 0 1.5em 0;
          cursor: default;
        }
    
          .icon.featured:before {
            font-size: 6em;
          }

.infoText{
  margin-top: 50px;
  font-size: 46px !important;
}

section {
    transition: all 0.4s ease;
    cursor: pointer;
}
section p{
  overflow: auto !important;
}

@media (max-width: 1400px) {
  section p{
    font-size: 15px !important;
  }
}

@media (max-width: 1400px) {
  .card-text{
    font-size: 15px !important;
  }
}

section:hover {
    transform: scale(1.1);
}


	.box {
		background: #fff;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
		text-align: center;
		
	}

		.box.style1 {
			padding: 3em 2em 3.5em 2em;
			width: auto;
			height: 380px;
		}
    

			.box.style1 h3 {
				margin-bottom: 0.5em;
			}

		.box.style2 h3 {
			margin-bottom: 0.25em;
		}

		.box.style2 .image {
			position: relative;
			left: 2em;
			top: 2em;
			margin: -4em 0 4em -4em;
			width: auto;
		}

  .imgInfo{
    width: auto;
    height: 180px;
  }
  @media (max-width: 600px) {
    .imgInfo{
      margin-left: -10px !important;
      width: 300px;
      height: 150px;
    }
  }


